body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}


#gridCanvas {
    color: black;
    border: 1px solid #e0e0e0;
}

#toolsMenu {
    width: 200px;
}
#humanBrush {
    align-items: end;
    right: 5px;
    top: 10px;
    position: absolute;
    border-radius: 17px;
    font-size: 25px;
}
#dirtBrush {
    align-items: end;
    right: 5px;
    top: 50px;
    position: absolute;
    border-radius: 17px;
    font-size: 25px;
}
#foodBrush {
    align-items: end;
    right: 5px;
    top: 90px;
    position: absolute;
    border-radius: 17px;
    font-size: 25px;
}
